<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.codematch.naoray.media_player_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/regio_tainment_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivityOriginal"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LiveStreamActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MediathekActivity"
            android:label="@string/title_activity_mediathek"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credtis"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainMenuActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainMenuActivity" />

        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" />
    </application>

</manifest>
